# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User-local Visual Studio files
*.sdf
*.vcxproj.filters
Debug/
Release/
x64/
*.opensdf
